.idea
/app/config/parameters.yml
/app/config/wiki.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
config/wiki.yml
src/
!src/WikiBundle
!src/.htaccess
!src/README.md
